@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// index.blade.php

:root {
    --sidebar-background: #F5F5F5;
    --sidebar-writings: #7b7b7b;
    --sidebarButton-hover: #EBEBEB;
    --sidebarDelete-hover: red;
}


section#section-top {
    & div#actions {
        margin-bottom: 1.5rem;

        >h6 {
            color: var(--sidebar-writings);
        }

        & p {
            cursor: pointer;
            color: var(--sidebar-writings);
            font-size: 15px;
            letter-spacing: .5px;
            text-align: left;
            border-radius: 8px;
            // border: solid 1px black;

            >#sidebar-icon {
                margin: auto .5rem;
                color: var(--sidebar-writings);
            }

            & a {
                cursor: pointer;
                text-decoration: none;
                color: var(--sidebar-writings);
            }
        }

        & p:hover {
            color: white;
            background-color: var(--sidebarButton-hover);
            cursor: pointer;

            >#sidebar-icon {
                color: white;
            }

            & a {
                color: white;
                cursor: pointer;
            }
        }


    }

    & div [id^="div-js-"] {
        width: 70%;
        height: 100px;
        overflow-y: scroll;
        margin: auto;
        padding: .5rem;
        background-color: white;
        border: solid 1px #7b7b7b;
        border-radius: 5px;

        & p {
            font-size: 10px;
            padding-bottom: .25rem;
            padding-left: .5rem;
            border-bottom: .5px solid #F5F5F5;
        }

        & p:hover {
            background-color: #7b7b7b;
            color: white;
            border-bottom: .5px solid black;
        }
    }
}

section#section-left {
    //border-right: solid .5px black;
    background-color: var(--sidebar-background);
    padding: 0 .5rem 0 .5rem;


    & div#actions {
        margin-bottom: 1.5rem;

        >h6 {
            color: var(--sidebar-writings);
            cursor: pointer;

            @media screen and (max-width: 1044px) {
                font-size: 12px;
                font-weight: 500;
            }

            @media screen and (max-width: 796px) {
                font-size: 15px;
            }
        }

        & p {
            color: var(--sidebar-writings);
            font-size: 15px;
            letter-spacing: .5px;
            text-align: left;
            border-radius: 8px;
            cursor: pointer;
            // border: solid 1px black;

            >#sidebar-icon {
                margin: auto .5rem;
                color: var(--sidebar-writings);
            }

            & a {
                text-decoration: none;
                color: var(--sidebar-writings);
                cursor: pointer;
            }

            @media screen and (max-width: 1044px) {
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .2px;
            }
        }

        & p:hover {
            color: white;
            background-color: var(--sidebarButton-hover);

            >#sidebar-icon {
                color: white;
            }

            & a {
                color: white;
            }
        }

        p[id^="p-delete"]:hover {
            color: white;
            background-color: red;
        }

    }

    div [id^="div-js-"] {
        width: 70%;
        height: 100px;
        overflow-y: scroll;
        margin: auto;
        padding: .5rem;
        background-color: white;
        border: solid 1px #7b7b7b;
        border-radius: 5px;

        & p {
            font-size: 10px;
            padding-bottom: .25rem;
            padding-left: .5rem;
            border-bottom: .5px solid #F5F5F5;
        }

        & p:hover {
            background-color: #7b7b7b;
            color: white;
            border-bottom: .5px solid black;
        }
    }



    // div#div-js-delete
    div[id^="div-delete-js"] {
        width: 70%;
        height: 100px;
        overflow-y: scroll;
        margin: auto;
        padding: .5rem;
        background-color: white;
        border: solid 1px #7b7b7b;
        border-radius: 5px;

        & p {
            color: red;
            background-color: var(--sidebarButton-hover);
            text-decoration: none;
            font-size: 10px;
            padding-bottom: .25rem;
            padding-left: .5rem;
            border-bottom: .5px solid #F5F5F5;

            // >a {
            //     color: red;
            // }
        }

        & p:hover {
            color: white;
            background-color: var(--sidebarDelete-hover);
            border-bottom: .5px solid black;
        }
    }

}

/* show.blade.php */
section#section-right {
    div#container-section-right {
        display: flex;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        & div#show-left {
            width: 50%;

            @media screen and (max-width: 576px) {
                width: 80%;
                margin-bottom: 1rem;
            }

            >div.card {

                >img {
                    height: 300px;

                }
            }
        }


        & div#show-right {
            width: 50%;
            padding-left: .5rem;
            display: flex;

            @media screen and (max-width: 576px) {
                width: 100%;
            }


            >div#subshow-right-l {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 100%;

                @media screen and (max-width: 576px) {
                    width: 50%;
                }



                & p:nth-child(1),
                p:nth-child(2),
                & p:nth-child(3) {
                    width: 50%;

                    @media screen and (max-width: 1044px) {
                        width: 80%;
                    }

                    @media screen and (max-width: 756px) {
                        width: 100%;
                    }
                }

                & p:nth-child(4) {
                    width: 80%;

                    & span#vertical-separator {
                        display: inline-block;
                    }

                    @media screen and (max-width: 1440px) {
                        width: 50%;

                        span#vertical-separator {
                            display: none;
                        }
                    }

                    @media screen and (max-width: 1044px) {
                        width: 80%;
                    }

                    @media screen and (max-width: 756px) {
                        width: 100%;
                    }
                }
            }

            div#subshow-right-r {
                display: none;
                padding: .5rem;

                >p {
                    overflow-y: scroll;
                }

                @media screen and (max-width: 576px) {
                    width: 50%;
                    display: block;
                    // border: solid 1px black;
                }
            }
        }

        .border-p {
            /* width: 40%; */
            border-bottom: solid 1.5px black;
            border-left: solid 1.5px black;
            padding-bottom: .5rem;
            padding-left: .2rem;
            font-size: medium;
            box-shadow: -1px 3px black;
        }
    }
}